*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
a:link{color: #FFFFFF;}
a:visited{color: #FFFFFF;}
a:hover{color: #ff8f67;}
a:active{color: #FFFFFF;}



.sublogo1{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #716D6D;
}

nav{
    height: 100px;
    background-color: #716D6D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav ul{
width: 1100px;
display: flex;
justify-content: space-between;
}

nav ul li a{
display: block;
font-family: 'Noto Sans KR', sans-serif;
font-weight: 700;
font-size: 22px;
color: black;
width: 220px;
font-style: normal;
letter-spacing: 0.6px;
text-align: center;
}
.sub3pic01{
    position: relative;
}

.interview01{
    position: absolute;
    top: 122px;
    left: 801px;
}

.sub3back{
     width: 1920px;
     height: 2007px;
}

.q1{
     font-size: 24px;
}
.text301{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 22px;
    left: 410px;
    position: relative;
    top: 139px;
    z-index: 2;
}

.text302{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    position: relative;
    z-index: 1;
    bottom: 550px;
    left: 1200px;
    opacity: 40%;
}

.down{
    width: 1920px;
    height: 100px;
    background-color: #A1A1A1;
}

.box{
    width: 1100px;
    height: 100px;
    background-color: #A1A1A1;
    position: relative;
    margin-left: 410px;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: #A1A1A1;
    position: absolute;

}
.box3{
    width: 338px;
    height: 100px;
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6A6262;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.logo2{
    margin-top: 23px;
    margin-left: 23px;
}